<div class="row">
    <h2 style="color: DodgerBlue;">Doanh thu nhân viên trong ngày</h2>
    <div class="col-12">
        <div class="row mt-4">
            <div class="col-2 mt-2">Ngày/Tháng/Năm</div> 
            <div class="col-5">
                <input class="form-control" type="date" [(ngModel)]="dateBegin" />
            </div> 
            <div class="col-3">
                <button class="btn btn-primary" (click)="doanhThuNhanVienTrongNgay()">Doanh thu</button>
            </div> 
        </div>
        <div class="row mt-3">
            <table class="table">
                <thead>
                    <th>EmployeeID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Doanh thu</th>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listDoanhThuNVTrongNgay">
                        <td>{{ i.employeeID }}</td>
                        <td>{{ i.firstName }}</td>
                        <td>{{ i.lastName }}</td>
                        <td>{{ i.doanhThu }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <h2 style="color: DodgerBlue;">Doanh thu nhân viên trong khoảng thời gian</h2>
    <div class="col-12">
        <div class="row mt-4">
            <div class="col-1 mt-2">Bắt đầu</div> 
            <div class="col-3">
                <input class="form-control" type="date" [(ngModel)]="dateBegin" />
            </div> 
            <div class="col-1 mt-2">Kết thúc</div> 
            <div class="col-3">
                <input class="form-control" type="date" [(ngModel)]="dateEnd" />
            </div> 
            <div class="col-3">
                <button class="btn btn-primary" (click)="doanhThuNhanVienTrongKhoangThoiGian()">Doanh thu</button>
            </div> 
        </div>
        <div class="row mt-3">
            <table class="table">
                <thead>
                    <th>EmployeeID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Doanh thu</th>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listDoanhThuNVTrongKhoangThoiGian">
                        <td>{{ i.employeeID }}</td>
                        <td>{{ i.firstName }}</td>
                        <td>{{ i.lastName }}</td>
                        <td>{{ i.doanhThu }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6" style="padding: 20px;">
        <h2 style="color: DodgerBlue;">Doanh thu theo quốc gia</h2>
        <div>
            <div class="row mt-4">
                <div class="col-1 mt-2 mr-2">Tháng</div> 
                <div class="col-3">
                    <input class="form-control" type="number" min="1" max="12" [(ngModel)]="month" />
                </div> 
                <div class="col-1 mt-2">Năm</div> 
                <div class="col-3">
                    <input class="form-control" type="number" min="1" [(ngModel)]="year" />
                </div> 
                <div class="col-3">
                    <button class="btn btn-primary" (click)="doanhThuTheoQuocGia()">Doanh thu</button>
                </div> 
            </div>
            <div class="row mt-3">
                <table class="table">
                    <thead>
                        <th>Quốc gia</th>
                        <th>Doanh thu</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of listDoanhThuQuocGia">
                            <td>{{ i.shipCountry }}</td>
                            <td>{{ i.doanhThu }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div id="piechartQuocGia" style="width: 500px; height: 500px;"></div>
    </div>
</div>

<div class="row">
    <div class="col-6" style="padding: 20px;">
        <h2 style="color: DodgerBlue;">Doanh thu shipper trong khoảng thời gian</h2>
        <div class="row mt-4">
            <div class="col-2 mt-2">Bắt đầu</div> 
            <div class="col-3">
                <input class="form-control" type="date" [(ngModel)]="dateBegin" />
            </div> 
            <div class="col-2 mt-2">Kết thúc</div> 
            <div class="col-3">
                <input class="form-control" type="date" [(ngModel)]="dateEnd" />
            </div> 
            <div class="col-2">
                <button class="btn btn-primary" (click)="doanhThuShipperTrongKhoangThoiGian()">Doanh thu</button>
            </div> 
        </div>
        <div class="row mt-3">
            <table class="table">
                <thead>
                    <th>ShipperID</th>
                    <th>CompanyName</th>
                    <th>Phone</th>
                    <th>Doanh thu</th>
                </thead>
                <tbody>
                    <tr *ngFor="let i of listDoanhThuShipperTrongKhoangThoiGian">
                        <td>{{ i.shipperId }}</td>
                        <td>{{ i.companyName }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.doanhThu }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <div id="piechartShipper" style="width: 500px; height: 500px;"></div>
    </div>
</div>